<div class="heading-container new-page-width">
	<h1><%= getPageHeader() %></h1> <a href="#" class="see-other-types"><%= getSeeOtherTypes() %></a>
    <div class="open-close-icon-container">
        <svg><use xlink:href="#x"></use></svg>
    </div>
</div><!-- /heading-container -->
<div id="sibling-categories-region"></div>
<div id="explora-content" class="groups-container new-page-width open clearfix">
	<div id="left-column-region" class="left-sections">
    </div><!-- /left-sections -->
    <div id="group-display-region" class="right-group-view-container">
    
    </div><!-- /group-display-region -->
</div><!-- /explora-content -->
