<form class="clearfix submitToOnePopup" action="<%- getFormAction() %>" method="post">
    <input type="hidden" name="sku" value="<%= skuNo %>" data-selenium="hiddenSku">
    <input type="hidden" name="is" value="<%= itemSource %>" data-selenium="hiddenItem">
    <input type="hidden" name="outside" value="false">
    <input type="hidden" name="li" class="toListId">
    <input type="hidden" name="type" class="toListType">
    <input type="hidden" name="listName" class="toListName">
    <input type="hidden" name="addToDefaultList" class="addToDefaultList">
    <input type="hidden" name="q" class="toListQty" value="1">
    <div class="add-to-wishlist">
        <div class="wishlist-dropdown cursor-pointer">
            <div class="js-toggle-wishlist-list">
				<div>
					<span class="item-not-in-any-list">
						Add to Wish List
					</span>
					<span class="item-in-some-list">
						<svg><use xlink:href="#check"></use></svg> Item in Wish List
					</span>
				</div>
                
                <div class="dropdown-arrow">
                    <svg><use xlink:href="#arrow-down-light"></use></svg>
                </div>
            </div>
            <div class="wishlist-list">
                
            </div>
        </div>
    </div><!-- /add-to-wishlist -->
</form>