<ul>
	<% if(groupInspiration!=null){ %>
    	<li data-section="inspiration" class="show-group-inspiration"><a href="#inspiration"><h2>Inspiration</h2></a> <svg><use xlink:href="#arrowDown"></use></svg></li>
   <% } %>
    <% if(groupProductGuides!=null){ %>
	    <li data-section="product-guide" class="show-group-productGuide"><a href="#product-guide"><h2>Product Guide</h2></a> <svg><use xlink:href="#arrowDown"></use></svg></li>
    <% } %>
    <% if(groupBeginnersTips!=null){ %>
    	<li data-section="beginner-tips"class="show-group-beginnerTips"><a href="#beginner-tips"><h2>Beginner Tips</h2></a> <svg><use xlink:href="#arrowDown"></use></svg></li>
    <% } %>
    <% if(groupProTips!=null){ %>
	    <li data-section="pro-tips" class="show-group-proTips"><a href="#pro-tips"><h2>Pro Tips</h2></a> <svg><use xlink:href="#arrowDown"></use></svg></li>
    <% } %>
    <% if(groupTalkToExperts!=null){ %>
    	<li data-section="talk-to-experts" class="show-group-talkToExperts"><a href="#talk-to-experts"><h2>Talk to Experts</h2></a> <svg><use xlink:href="#arrowDown"></use></svg></li>
    <% } %>
    <% if(groupArticlesReviews!=null){ %>
	    <li data-section="articles-reviews" class="show-group-articlesReviews"><a href="#articles-reviews"><h2>Articles &amp; Reviews</h2></a> <svg><use xlink:href="#arrowDown"></use></svg></li>
    <% } %>
</ul>